---

---

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }
    a {
        text-decoration: none;
        color: #222;
    }
    .title {
        font-weight: 700;
    }
</style>

<header>
    <div style="height:100%;">
      <a href="/" title="Go home" class="title">
        grimoire
      </a>
    </div>
    <nav class="d-flex f-ai-c f-jc-c fs-18">
      <a href="https://wuz.sh" title="Wuz.sh" class="m-h-1">home</a>
      <a href="https://twitter.com/CallMeWuz" title="Twitter" class="m-h-1" rel="me">twitter</a>
    </nav>
  </header>