---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
---

<style>
	.container {
		width: 100vw;
		max-width: 1280px;
		margin: 0 auto;
	}
</style>

<html lang="en">
	<Head title="Grimoire" description="" />
	<body>
		<section class="container">
		<Nav />
		</section>
	</body>
</html>
